/* Empty. Add your own CSS if you like */

.logo {
    padding-top: 5px;
}

.background_image {
    background-image: url('../img/bg1.jpg');
    background-size: cover;
    background-position-x: 50%;
}

.bar.bar-red {
    border-color: #B80000;
    background-color: #B80A2B;
    background-image: linear-gradient(0deg, #0c63ee, #0c63ee 50%, transparent 50%);
    color: #fff;
}

.jschannel-heading-container {
    margin-top: 32vh;
    color: white;
}

.jschannel-heading {
    font-weight: bold;
    font-size: 44px;
}

.desc {
    font-size: 20px;
    margin: 15px 0px;
}

.menu-background{
  background-image: url("../img/bg1-blur.jpg");
  background-position: cover;
  background-position-x: 80%;
  background-position-y: 80%;
}
.menu-item-bg .item{
  background-color: rgba(255, 0, 0, 0) !important;
}
